<<<<<<< HEAD
a {
    text-decoration: none;
    color: #d0d0d0;
} 
a:hover {
    color: #fff;
}
.card-footer{
    color: #fff;
}
.fa {
    margin-left: 5%;
    margin-right: 5px;
}

=======
a {
    text-decoration: none;
    color: #d0d0d0;
} 
a:hover {
    color: #fff;
}
.card-footer{
    color: #fff;
}
.fa {
    margin-left: 5%;
    margin-right: 5px;
}

>>>>>>> master
