<<<<<<< HEAD
.mask {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.BGIMG {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mid-container .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 38.5%;
}

.mid-container .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.mid-container .content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.mid-container .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 500px){
    .mid-container .content h1 {
        font-size: 3rem;
      }
      
      .mid-container .content p {
        font-size: 1.4rem;
      }
      .mid-container .btn {
        margin: 0 0.2rem;
      }
      
}
=======
.mask {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.BGIMG {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mid-container .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 38.5%;
}

.mid-container .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.mid-container .content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.mid-container .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 500px){
    .mid-container .content h1 {
        font-size: 3rem;
      }
      
      .mid-container .content p {
        font-size: 1.4rem;
      }
      .mid-container .btn {
        margin: 0 0.2rem;
      }
      
}
>>>>>>> master
